@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  :root {
    --color-light: #ebeae6;
    --album-width: 580px;
  }
}

@layer utilities {
  .text-color-light {
    color: var(--color-light);
  }

  .album-width {
    width: 580px;
  }

  .bg-light {
    background: var(--color-light);
  }

  .border-light {
    border-color: var(--color-light);
  }
}

/* html,
body {
  overflow-x: hidden;
  position: relative;
  font-family: "Bebas Neue", Helvetica Neue, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 100vh;
} */
