@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-light: #ebeae6;
  --album-size: 580px;
}

html,
body {
  overflow-x: hidden;
  position: relative;
  font-family: "Bebas Neue", Helvetica Neue, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 100vh;
}
